<div class='container p-4'>

        <h1>Places list</h1>
        <div class="form-group">
            <label for="search">Search by name</label>
        <input type="text" name="search" class="form-control" id="search">
        <div style="position:relative; height: 20px;">
        <small class="bg-warning small-alert"> No matches found</small>
        </div>
            </div>
            
    <div class='row mt-5 container-places'>

        {{#each places}}
            
            <div class='col-md-3'>
                <img src='{{image}}' alt='img.jpg' />
            </div>
        
            <div class='col-md-3 p-3 mb-5'>

                    <h5>{{name}}</h5>
                    <p class="text-truncate">{{task_info.description}}</p>
                    <p>{{address.city}} </p>
                    <p disabled>({{address.state}})</p>
                    <p>{{rooms}}</p>

                    <a class='btn btn-outline-dark btn-sm ' href='/places/details/{{id}}'>Details</a>
                
            </div>
        {{/each}}
    </div>
</div>


<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
<script src="/js/apiHandler.js"></script>
<script src="/js/search.js"></script>
