<div class='container'>

    <div class='row mt-5'>

        <div class='col-md-5 ml-auto'>
            <img src='{{place.image}}' alt='country house' />
        </div>

        <div class='col-md-6 text-center'>
            <h2> Place: {{place.name}}</h2>
            <h3> Description: </h3>
            {{#with place.task_info}}
                <h5>Task: {{name}}</h5>
                <h5>Hour for day: {{working_hours}}</h5>
                <h5>About:  {{description}}</h5>
            {{/with}}
            {{#with place.address}}
            <h5> Address: {{road}}, {{number}} ({{city}})</h5>
            {{/with}}
            <h5> Rooms available: {{place.rooms}}</h5>
                <a class='btn btn-outline-dark' href='/places'>Back to list</a>
                <a class='btn btn-outline-dark' href='/user/details/{{place.host_id}}'>Host Profile</a>
        </div>
        {{#if session}}
        {{#unless isPending}}
        <div class="col-md-12 form shadow">
                <div class='form-group'>
            <form action='/places/application' method='post'>
                    <label for='start_date'>Start date</label>
                    <input type='date' name='start_date' id='start_date' class='form-control' />

                    <label for='final_date'>Final date</label>
                    <input type='date' name='final_date' id='final_date' class='form-control' />
                 
                     
                        <label for='applicant'>Cover Letter:</label>
                    <textarea type='' max="750" name='cover_letter' class='form-control' /></textarea>
                    <button type='submit' class='btn btn-outline-dark'>Submit application</button>
                    

                    <input type='text' name='host_id'  value="{{place.host_id}}" class='form-control' hidden/>
                    
                    <input type='text' name='place_id'  value="{{place.id}}" class='form-control' hidden/>
                    <input type='text' name='user_applicant_id' value="{{applicant_id}}"  class='form-control' hidden/>
                    
        {{/unless}}
        {{/if}}
                    
                
            </form>
        </div>
    </div>

</div>