<h1>Places list</h1>

<div class='container'>

    <div class='row'>
        {{#each places}}
            <div class='col-md-2'>

                <img src='{{image}}' alt='img.jpg' />
            </div>
            <div class='col-md-4'>

                <ul>
                    <li name=''>place_name:{{name}}</li>
                    <li name=''>description:{{task_info.description}}</li>
                    <li name=''>direction:{{address.city}}</li>
                    <li name=''>number_rooms:{{rooms}}</li>

                    <a class='btn btn-outline-dark btn-sm' href='/places/details/{{id}}'>Details</a>
                </ul>
            </div>
        {{/each}}
    </div>
</div>
{{! foto/link details/ }}