{{#if pending}}
    <p class='error'> No has confirmado tu email</p>
{{/if}}


            <div class='col-md-2 position-absolute leftNav'>
                <nav>
                    <ul class='nav flex-column pt-5 mt-5'>
                    {{#if this.admin}}
                        <li class='nav-item'>
                            <a class='contracts bg-dark ' href='/admin_panel'>Admin Panel</a>
                        </li>
                    {{/if}}

                    {{#if this.host}}
                        <li class='nav-item mt-2'>
                            <a class='places-pending bg-dark ' href='/host_panel'>Host panel</a>
                        </li>
                    {{/if}}
                    </ul>
                </nav>
            </div>

            <div class=' bg-transparent border-light position-absolute avatar'>
                {{#with loggedUser}}

                    <p><img src='{{image}}' alt='profile img' class='shadow profile-img' /></p>
                    
                    <p class='text-center text-truncate'>{{description}}</p>
        
                    {{#with address}}   
                        <p>address:{{road}} </p>
                        <p>num:{{number}} </p>
                        <p class='blockquote disabled'>{{city}} ({{state}})</p>
                    {{/with}}
        
                {{/with}}
                 <a class='myProfileEdit bg-dark ' data-id="{{loggedUser._id}}" href='#'>Edit Profile</a>
            </div>
           
<div class='col-md-2'></div>
        <div class='leftPan col-md-8'></div>
        <div class='col-md-2 rightPan'></div>

<div class='container'>

    <h1>Welcome to {{loggedUser.name}}`s Profile</h1>

    <div class='row'>
       
       

        {{#if host}}
        <div class='col-5'>
    
            {{#each place}}

                    <div class='card shadow bg-transparent border-light mb-3'>
                        
                        {{#if place_approved}}
                            <input class='form-control p-3' type='checkbox' checked disabled />
                        {{/if}}
                        
                        <img class='card-img-top' src='{{image}}' alt='img.jpg' />

                        <h5 class='card-title text-center'>{{name}}</h5>

                        <p class='text-center'>{{task_info.description}}</p>
                        
                        <p class='text-center'>{{address.city}}</p>

                        <p class='text-center'>{{rooms}}</p>

                        <a class='btn btn-outline-dark btn-sm border-light mb-3' href='/places/details/{{id}}'>Details</a>

                    </div>

            {{/each}}

        </div>

        {{/if}}   

        {{!-- <div class="col-1"></div> --}}
        
        {{#if userOrAdmin}}

        <div class='col-5'>

                {{#each place}}
        
                    <div class='card shadow bg-transparent border-light mb-3'>
                        
                    {{#if contract_status}}
                            <input class='form-control p-3' type='checkbox' checked disabled />
                    {{/if}}
                        
                        <img class='card-img-top' src='{{image}}' alt='img.jpg' />

                        <h5 class='card-title text-center'>{{name}}</h5>

                        <p class='text-center'>{{task_info.description}}</p>
                        
                        <p class='text-center'>{{address.city}}</p>
                        
                        <p class='text-center'>{{rooms}}</p>

                        <a class='btn btn-outline-dark btn-sm border-light mb-3' href='/places/details/{{id}}'>Details</a>

                    </div>

                {{/each}}
            </div>
            
        {{/if}}


        {{#unless pending}}
            {{#if applicantLength}}
        <div class="col-md-5">
                {{#each applicant}}  
        
                    <div class='card shadow bg-transparent border-light mb-3'>
                        
                    {{#if contract_status}}
                            <input class='form-control p-3' type='checkbox' checked disabled />
                    {{/if}}
                        <h5 class='card-title text-center'>Place name: {{place_id.name}}</h5>
                        
                        <h5 class='card-title text-center'>City: {{place_id.address.city}}</h5>
                        <h5 class='card-title text-center'>{{name}}</h5>

                        <img src="{{place_id.image}}" alt="">
                                            {{!-- {{#with place}} --}}
                        <a class='btn btn-outline-dark btn-sm border-light mb-3' href='/places/details/{{place_id._id}}'>Details</a>
                                            {{!-- {{/with}} --}}

                    </div>

                {{/each}}
        </div>

            {{/if}}
        {{/unless}}

           
        

    </div>

</div>

<div class='overlay hidden'></div>

<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
<script src='../../js/apiHandler.js'></script>
<script src='../../js/blur.js'></script>
<script src='../../js/profile_edit_panel.js'></script>
{{! <script src='../../js/host_panel.js'></script> }}