{{#if pending}}
<p class='bg-warning'> No has confirmado tu email</p>
{{/if}}

<div class='container'>
    {{#with user}}
    <h1>Welcome to {{name}}`s Profile</h1>


    <div class="row justify-content-center">
        <div class='card w-75 shadow bg-transparent border-light mb-3'>

            <img class='card-img-top' src='{{image}}' alt='profile img' />


            <h5 class='card-title text-center bg-transparent'>{{name}}</h5>

            {{#with address}}
            <p class='text-center'>{{road}}, {{number}}</p>
            <p class='text-center'>{{city}}, ({{state}})</p>
            {{/with}}

            <p class='card-text text-center p-4'>{{description}}</p>
            {{!-- <a href='#' class='btn btn-outline-light'>See {{name}}'s projects</a> --}}
        </div>

    </div>
    {{/with}}
</div>
<div class='overlay hidden'></div>

<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
<script src='../../js/apiHandler.js'></script>
<script src='../../js/blur.js'></script>
<script src='../../js/host_panel.js'></script>